{% load static %}

<footer class="main-footer">
  <div class="pull-right hidden-xs">
      <b>Version</b> 1.0
  </div>
  <strong>Copyright &copy; 2024 <a href="">Sri Saasta Construction</a>.</strong> All rights reserved.
</footer>

<!-- Scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/employee_type_management.js' %}"></script>